.menu {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 40;
    padding-left: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    min-width: 280px;
     /* margin-top: 40px;  */
    /* left: -20px; */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
   .menu::-webkit-scrollbar {
    display: none;
  } 
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .menu {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


  .dropbtn {
    /* background-color: #c8cfc8; */
    color: rgb(12, 6, 6);
    padding: 16px;
    font-size: 15px;
    width: 100%;
    border: 2px solid black;
    margin-top: 40px;
    text-transform: uppercase;
    /* border: none; */
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    width: 100%;
   border: 2px solid black;

    position: absolute;
    background-color: #cacaca;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 7px 10px;
    font-size: 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #fcfcfc;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid black;

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #999c99;
  }

  
  