.item{
    height: 100vh; 
    /* max-width:100vw; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    width: 100%;
    /* max-width: 400px; */
    /* height: auto; */
    /* justify-content: center;  */
     scroll-snap-align: start;

      
}

 

.item_page{
  background-color: rgb(211, 190, 162);
}
 


@media screen and (max-width: 1000px) {
    .item {
         width: 100%;
         /* height: 100%; */
        /* height: 900px;  */
        /* object-fit: cover; */
        /* object-position: bottom; */

    }
  }

@media screen and (max-width: 900px) {
    .item {
         width: 100%;
         /* height: 100%; */
        /* height: 900px;  */
        /* object-fit: cover; */
        /* object-position: bottom; */

    }
  }

  @media screen and (max-width: 870px) {
    .item {
         width: 100%;
         /* height: 50%; */
         /* height: 100%; */
        /* height: 900px;  */
        /* object-fit: cover; */
        /* object-position: bottom; */

    }
  }

  @media screen and (max-width: 835px) {
    .item {
         width: 100%;
         /* height: 50%; */
         /* height: 100%; */
        /* height: 900px;  */
        /* object-fit: cover; */
        /* object-position: bottom; */

    }
  }
  @media screen and (max-width: 690px) {
    .item {
         width: 100%;
         /* height: 50%; */
         /* height: 100%; */
        /* height: 900px;  */
        /* object-fit: cover; */
        /* object-position: bottom; */
       
    }
  }