
body{



  background-image: linear-gradient( 113.5deg,  rgba(234,234,234,1) 22.3%, rgba(201,234,211,1) 56.6%, rgba(255,180,189,1) 90.9% );    
   
  }

.app_itemContainer{
  scroll-snap-type: Y mandatory;
  overflow: auto;

  height:100vh;
}
 